.contacts
    a.contact(href="tel: +3752980231")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 6378 1234

    a.contact(href="mailto:info@gmail.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text info@gmail.com\

    a.facrbook-icon(href="facebook.com")
        i.fa.fa-facebook-official(aria-hidden="true")